fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
aiohttp
requests
numpy
pandas
librosa>=0.10.1
torch>=2.2.0; sys_platform != 'darwin'
openai-whisper
google-generativeai
soundfile
scipy
pytz
openpyxl
gruut
xlsxwriter