--extra-index-url https://download.pytorch.org/whl/cpu
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
sqlalchemy>=2.0.25
asyncpg>=0.29.0
alembic>=1.13.1
pydantic>=2.6.0
pydantic-settings>=2.1.0
email-validator>=2.1.0
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
aiohttp
requests
setuptools>=70.0.0
wheel
numpy<2.0.0
pandas>=2.1.0
llvmlite>=0.43.0
numba>=0.60.0
librosa>=0.10.2
torch==2.2.2
torchaudio==2.2.2
transformers
openai-whisper
google-generativeai
soundfile
scipy
pytz
openpyxl>=3.1.2
gruut>=2.2.3
xlsxwriter>=3.1.9